<div class="gallery-slide">
	<div class="content">
		<div class="slideshow-container">
			<div id="loading" class="loader"></div>
			<div id="slideshow" class="slideshow"></div>
		</div>
	</div>

	<div class="navigation-container">
		<div id="thumbs" class="navigation">
			<a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>					
			<a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>

			<div class="clearfix"></div>					
			<ul class="thumbs noscript">
				
				<li><a class="thumb" name="leaf" href="{{ STATIC_URL }}usermedia/stories/slide/slide_big-img1.jpg" title="Title #1">
					<img src="{{ STATIC_URL }}usermedia/stories/slide/slide_small-img1.jpg" alt="Title #1" /><span>BMW 6 Coupe concept</span></a></li>

				<li><a class="thumb" name="leaf" href="{{ STATIC_URL }}usermedia/stories/slide/slide_big-img2.jpg" title="Title #2">
					<img src="{{ STATIC_URL }}usermedia/stories/slide/slide_small-img2.jpg" alt="Title #2" /><span>Audi R8 GT</span></a></li>

				<li><a class="thumb" name="leaf" href="{{ STATIC_URL }}usermedia/stories/slide/slide_big-img3.jpg" title="Title #3">
					<img src="{{ STATIC_URL }}usermedia/stories/slide/slide_small-img3.jpg" alt="Title #3" /><span>Cadillac SRX</span></a></li>
					
				<li><a class="thumb" name="leaf" href="{{ STATIC_URL }}usermedia/stories/slide/slide_big-img4.jpg" title="Title #4">
					<img src="{{ STATIC_URL }}usermedia/stories/slide/slide_small-img4.jpg" alt="Title #4" /><span>BMW Z4</span></a></li>

				<li><a class="thumb" name="leaf" href="{{ STATIC_URL }}usermedia/stories/slide/slide_big-img5.png" title="Title #5">
					<img src="{{ STATIC_URL }}usermedia/stories/slide/slide_small-img5.jpg" alt="Title #5" /><span>Volvo C70</span></a></li>

				<li><a class="thumb" name="leaf" href="{{ STATIC_URL }}usermedia/stories/slide/slide_big-img6.jpg" title="Title #6">
					<img src="{{ STATIC_URL }}usermedia/stories/slide/slide_small-img6.jpg" alt="Title #6" /><span>Mercedes CLS</span></a></li>
                    
				<li><a class="thumb" name="leaf" href="{{ STATIC_URL }}usermedia/stories/slide/slide_big-img7.jpg" title="Title #7">
					<img src="{{ STATIC_URL }}usermedia/stories/slide/slide_small-img7.jpg" alt="Title #7" /><span>Chevrolet Camaro cabrio</span></a></li>
                    
				<li><a class="thumb" name="leaf" href="{{ STATIC_URL }}usermedia/stories/slide/slide_big-img8.jpg" title="Title #8">
					<img src="{{ STATIC_URL }}usermedia/stories/slide/slide_small-img8.jpg" alt="Title #8" /><span>Merc Shooting Break</span></a></li>
                    
				<li><a class="thumb" name="leaf" href="{{ STATIC_URL }}usermedia/stories/slide/slide_big-img9.jpg" title="Title #9">
					<img src="{{ STATIC_URL }}usermedia/stories/slide/slide_small-img9.jpg" alt="Title #9" /><span>bmw 3 coupe cabrio</span></a></li>

				<li><a class="thumb" name="leaf" href="{{ STATIC_URL }}usermedia/stories/slide/slide_big-img10.jpg" title="Title #10">
					<img src="{{ STATIC_URL }}usermedia/stories/slide/slide_small-img10.jpg" alt="Title #10" /><span>chevrolet camaro ss</span></a></li>
				
			</ul>
		</div>
	</div>
</div>