[mysqld]
# Settings user and group are ignored when systemd is used (fedora >= 15).
# If you need to run mysqld under different user or group, 
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd
user=mysql

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

;skip-locking
key_buffer = 16M
max_allowed_packet = 16M

sort_buffer_size = 64K
read_buffer_size = 256K
join_buffer_size = 1M

query_cache_size = 32M
;query_cache_limit = 16M

net_buffer_length = 2K
thread_stack = 128K
thread_cache_size = 32

expire_logs_days = 10
max_binlog_size = 100M

;default-character-set = utf8
character-set-server = utf8
collation-server = utf8_unicode_ci
init-connect = "SET NAMES utf8"
skip-character-set-client-handshake

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema

;skip-bdb
skip-innodb
default_storage_engine=MyISAM

table_cache = 4096
max_heap_table_size = 32M
tmp_table_size = 32M

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysql]
no-auto-rehash

[isamchk]
key_buffer = 8M
sort_buffer_size = 8M

[myisamchk]
key_buffer = 8M
sort_buffer_size = 8M

[mysqlhotcopy]
interactive-timeout
