.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display: inline-block;
    border-bottom: 1px dotted #000;
    /*background-color:#ddd;*/
    margin: 0 11px;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
}

.radio-toolbar input[type="radio"]:checked + label {
    margin: 0;
    padding: 4px 11px;
    background-color: #bbb;
    border-color: transparent;
}

.for-label {
    font-family: Arial;
    font-size: 16px;
    padding: 0;
}

.scrollup{
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-font-smoothing: antialiased;

    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/icons.png);
    background-origin: padding-box;
    background-position: -2695px 0px;
    background-size: auto;

    color: rgb(68, 68, 68);
    cursor: pointer;

    height: 54px;
    width: 54px;

    text-indent: -9999px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
}

.scrollup:hover {
    background-position: -2754px 0;
}

.lot {
    margin-top: 20px;
}

.lot-inner {
    height: 300px;
}
.lot-inner:hover {
    background: #FCFCFC;
}

.lot-inner .img-wrapper {
    width: 100%;
    height: 120px;
}

.lot-info {
  padding: 10px;
}

.lot-info .ttl {
    font-size: 15px;
    font-weight: bold;
    height: 40px;
}

.lot-info .bids-count {
    font-size: 10px;
}

.lot-info .price-yen {
    font-size: 10px;
    margin-bottom: 15px;
}

.lot-info .price-rub {
    font-size: 15px;
    font-weight: bold;
    color: CRIMSON;
}

.lot-info .lot-link {
    font-size: 12px;
}

.lot-info .lot-link .glyphicon {
    margin-right: 10px;
}
