.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display: inline-block;
    border-bottom: 1px dotted #000;
    /*background-color:#ddd;*/
    margin: 0 11px;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
}

.radio-toolbar input[type="radio"]:checked + label {
    margin: 0;
    padding: 4px 11px;
    background-color: #bbb;
    border-color: transparent;
}

.for-label {
    font-family: Arial;
    font-size: 16px;
    padding: 0;
}