{% extends "base.html" %}

{% load account_tags %}

{% block head_title %}Забыли пароль? - {% endblock %}


{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" type="text/css" media="screen" />
{% endblock%}


{% block body %}
<div class="content_bg">
	<div class="wrapper-content content-top">	
		<div class="grey_bg">
			<div class="wide">
	
			    <h1 class="center">Забыли пароль?</h1>
			
				<p class="text" style="margin-bottom: 1em;">Мы не можем подсказать старый пароль, потому что он хранится на сервере в зашифрованном виде. <br />Поэтому сейчас мы сгенерируем вам новый пароль, который потом можно будет заменить в настройках.</p>

				{% if form.errors %}
				<div class="errorbox">
					{% if form.non_field_errors %}
						<p>{% for e in form.non_field_errors %}{{ e|escape }}{% endfor %}</p>
					{% endif %}
					{% if form.username.errors %}
						<p>Имя пользователя: {% for e in form.username.errors %}<span>{{ e|escape }}</span>{% endfor %}</p>
					{% endif %}
			    	{% if form.password.errors %}
						<p>Пароль: {% for e in form.password.errors %}<span>{{ e|escape }}</span>{% endfor %}</p>
					{% endif %}
				</div>
				{% endif %}
				<form class="form" id="pswd_reset_form" method="post" action="{% url acct_passwd_reset %}">
			        {% csrf_token %}
			            
					<div class="item">
						<div class="legend">
							<label for="id_email">Электронная почта</label>
						</div>
						<div class="element">
							<span>
								<input type="text" value="" maxlength="64" class="stdinput" id="id_email" name="email">
							</span>
						</div>
					</div>
			        
			        {% if redirect_field_value %}
			            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			        {% endif %}
					
					<div class="item">
						<div class="element"><button type="submit">Вспомнить!</button></div>
					</div>
			
			    </form>
			
			</div>
		</div>
	</div>        
</div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
		$j("#id_email").focus();
    </script>
{% endblock %}
