{% extends "base.html" %}

{% block head_title %}Забыли пароль? - {% endblock %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" type="text/css" media="screen" />
{% endblock%}

{% load account_tags %}

{% user_display user as user_display %}

{% block body %}
<div class="content_bg">
	<div class="wrapper-content content-top">	
		<div class="grey_bg">
			<div class="wide">
				<h1 class="center">Забыли пароль?</h1>

			{% if user.is_authenticated %}
		        <p><span class="warning">Замечание</span>: Вы уже зашли как {{ user_display }}.</p>
		    {% endif %}
				
				<div class="successbox">
					<p>Через несколько минут на указанный вами адрес в профиле придёт письмо с кодом подтверждения и инструкциями, необходимыми для успешного завершения получения нового пароля.</p>
				</div>
				
				<p class="text">Если Вы не получите его в течении нескольких минут, свяжитесь с нами по адресу <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>. Спасибо.</p>
			</div>
		</div>
	</div>        
</div>
{% endblock %}
