<!--
[yahoolotList.mustache.html]
This is the template for items in the channel list for when the app first loads
-->
<script id="yahoolotListTpl" type="text/html">
{{#Item}}
<div class="col-lg-2 col-sm-3 col-xs-4 lot">
    <div class="img-thumbnail">
        <a href="{{ AuctionItemUrl }}" title="{{ Title }}">
            <img class="thumbnail img-responsive" src="{{ Image }}">
        </a>
    </div>
    <div class="box border-radius-bottom">
        <p>
            <span class="title_torrent pull-left pull-left">ET</span>
            <span class="number-view pull-right">{{ EndTime }}</span>
        </p>
    </div>
    <div class="box border-radius-bottom">
        <p>
            <span class="title_torrent pull-left pull-left">Bids</span>
            <span class="number-view pull-right">{{ Bids }}</span>
        </p>
    </div>
    <div class="box border-radius-bottom">
        <p>
            <span class="title_torrent pull-left pull-left">Price</span>
            <span class="number-view pull-right">{{ CurrentPrice }}</span>
        </p>
    </div>
</div>
{{/Item}}
</script>