<!--
[yahoolotList.mustache.html]
This is the template for items in the channel list for when the app first loads
-->
<script id="yahoolotListTpl" type="text/html">
{{#Item}}
<div class="col-lg-2 col-sm-3 col-xs-4 lot">
    <div class="img-thumbnail">
        <a href="{{ AuctionItemUrl }}" title="{{ Title }}">
            <img class="thumbnail img-responsive" src="{{ Image }}">
        </a>

        <p><span>{{ ttl }}</span></p>
        <p><span>Ставок {{ Bids }}</span></p>
        <p><span>Цена {{ CurrentPrice }}</span></p>
    </div>
</div>
{{/Item}}
</script>