<!--
[yahoolotList.mustache.html]
This is the template for items in the channel list for when the app first loads
-->
<script id="yahoolotListTpl" type="text/html">
{{#Item}}
<div class="col-lg-2 col-sm-3 col-xs-4 lot">
    <div class="lot-inner thumbnail">
        <a href="/search/{{ AuctionID }}" title="{{ Title }}" class="img-wrapper img-responsive">
            <img src="{{ Image }}">
        </a>
        <div class="lot-info">
            <div class="title translate">{{ Title }}</div>
            <div class="ttl">
                <i class="glyphicon glyphicon-time"></i>{{ ttl }}
            </div>
            <div class="bids-count">cтавок {{ Bids }}</div>

            <div class="price">
                <div class="price-rub">{{ current_price_rubles }} руб.</div>
                <div class="price-yen show-admin">
                    <span>{{ current_price }} йен</span>
                  {{#BidOrBuy}}
                    </br><span>блиц цена {{ buyout_price }} йен</span>
                  {{/BidOrBuy}}
                </div>
            </div>

            <div class="lot-link postpone">
                <a href="" class="to-compare">
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <span class="hide-admin">отложить лот</span>
                </a>
            </div>
            <div class="lot-link in-japan show-admin">
                <a target="_blank" href="http://injapan.ru/auction/{{ AuctionID }}.html" title="InJapan">
                    <i class="glyphicon glyphicon-new-window"></i>
                </a>
            </div>
            <div class="lot-link yahoo show-admin">
                <a target="_blank" href="{{ AuctionItemUrl }}" title="Yahoo! JAPAN">
                    <i class="glyphicon glyphicon-new-window"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{{/Item}}
</script>