{% extends "yahoo/skeleton.html" %}

{% load staticfiles %}
{% load humanize %}


{% block title %}{{ lot.Title }}{% endblock %}


{% block custom-css %}
    <!-- Fotorama 4.4.9 -->
    <link href="{% static "css/fotorama.css" %}" rel="stylesheet">
    <link href="{% static "css/item.css" %}" rel="stylesheet">
{% endblock %}


{% block custom-fore-js %}
    <script type="text/javascript" src="{% static "js/translate.js" %}"></script>
    <script type="text/javascript" src="{% static "js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fotorama-custom.js" %}"></script>
{% endblock %}

{% block custom-after-js %}
    <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-langs.min.js"></script>
    <!-- Fotorama 4.4.9 -->
    <script type="text/javascript" src="{% static "js/lib/fotorama.js" %}"></script>

    <script type="text/javascript">
        $(function() {
            $(document).on('ajaxTranslate', ajaxTranslateHandler);

            $('.translate').each(function() {
                $(this).trigger('ajaxTranslate');
            });

            var rusEndTimeMoment = moment('{{ lot.EndTime }}').lang('ru');
            var rusStartTimeMoment = moment('{{ lot.StartTime }}').lang('ru');
            rusEndTimeMoment.lang()._relativeTime.s = "секунды";
            $('#ttl').html(rusEndTimeMoment.fromNow(true));
            $('#endtime').html(rusEndTimeMoment.format('D.MM.YYYY  H:mm:ss'));
            $('#starttime').html(rusStartTimeMoment.format('D.MM.YYYY  H:mm:ss'));

            $('#init_price').html(Number({{ lot.Initprice }}).formatMoney(2, '.', ' '));
            $('#price').html(Number({{ lot.Price }}).formatMoney(2, '.', ' '));
        });
    </script>

{% endblock %}


{% block container %}

    <div class="container">

        <div class="page-header">
          <h1 class="translate">{{ lot.Title }} <small>{{ lot.Condition }}</small></h1>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Информация по аукциону</div>
                    <div class="panel-body" >
                        <p title="Магазин" class="text-center">
                            <a href="http://injapan.ru/search/do.html?seller={{ lot.Seller.Id }}"
                               title="Все товары продавца">{{ lot.Seller.Id }}</a>
                        </p>
                    </div>

                    <table class="table"><tbody>

                        <tr><td><a href="http://injapan.ru/SellerRating/yahoo/{{ lot.Seller.Id }}.html">Рейтинг Yahoo</a>:</td>
                            <td>
                                <span style="color: green" title="положительных">+{{ lot.Seller.Rating.TotalGoodRating }}</span>&nbsp;&nbsp;
                                <span style="color: red" title="отрицательных">-{{ lot.Seller.Rating.TotalBadRating }}</span>
                            </td></tr>
                        <tr><td>Раннее закрытие:</td><td>{{ lot.IsEarlyClosing|yesno }}</td></tr>
                        <tr><td>Авто-продление:</td><td>{{ lot.IsAutomaticExtension|yesno }}</td></tr>
                        <tr><td>Лидер:</td><td>{{ lot.HighestBidder }}</td></tr>

                    </tbody></table>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Основная информация</div>
                    <div class="panel-body">
                        <p title="Название" class="text-center translate">{{ lot.Title }}</p>
                    </div>

                    <table class="table">
                        <tbody>
                            <tr><td>Текущая цена:</td><td> <span id="price"></span> йен</td></tr>

                            <tr><td>Стартовая цена:</td><td><span id="init_price"></span> йен</td></tr>
                            <tr><td>Шаг ставки:</td><td>{{ lot.YPoint }}</td></tr>
                            <tr><td>Ставок:</td><td>{{ lot.Bids }}</td></tr>
                            <tr><td>Осталось до начала торгов:</td><td id="ttl"></td></tr>
                            <tr><td>Состояние товара:</td><td>{{ lot.Condition }}</td></tr>
                            <tr><td>Начало торгов:</td><td id="starttime"></td></tr>
                            <tr><td>Завершение торгов:</td><td id="endtime"></td></tr>
                            <tr><td>Номер лота:</td><td><a href="{{ lot.AuctionItemUrl }}">{{ lot.AuctionID }}</a> </td></tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Калькулятор</div>
                    <div class="panel-body">
                        <p>...</p>
                    </div>

                    <table class="table">
                        <tbody>
                            <tr><td>Местоположение:</td><td class="translate">{{ lot.Location }}</td></tr>
                            <tr><td>Оплата доставки:</td><td>{{ lot.ChargeForShipping }}</td></tr>
                            <tr><td>Доставка по миру:</td><td>{{ lot.IsWorldwide|yesno }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="fotorama-wrap-frontpage">
                <div class="fotorama-frontpage"
                     data-auto="false"
                     data-width="100%" data-ratio="16/9" data-hash="true"
                     data-minheight="{{ lot.ImageMinHeight }}" data-maxheight="100%"
                     data-minwidth="{{ lot.ImageMinWidth }}"
                     data-nav="thumbs" data-allowfullscreen="native" data-loop="true">
                {% for item in lot.Images %}
                    <a href="{{ item.url }}"
                       data-thumb="{{ item.url }}"
                       data-thumbwidth="{{ item.width }}"
                       data-thumbheight="{{ item.height }}"></a>
                {% endfor %}
                </div>
            </div>

        </div>


        <div class="row">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Описание</div>

                <div>
                    <p>{{ lot.Description|safe }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Описание</div>

                <div><p>{{ lot.Description }}</p></div>
            </div>
        </div>


    </div>

{% endblock %}