{% extends "yahoo/skeleton.html" %}

{% load staticfiles %}


{% block title %}{{ lot.Title }}{% endblock %}


{% block custom-css %}
    <!-- Fotorama 4.4.9 -->
    <link href="{% static "css/fotorama.css" %}" rel="stylesheet">
    <link href="{% static "css/item.css" %}" rel="stylesheet">
{% endblock %}


{% block custom-fore-js %}
    <script type="text/javascript" src="{% static "js/translate.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fotorama-custom.js" %}"></script>
{% endblock %}

{% block custom-after-js %}

    <script type="text/javascript">
        $(function() {
            $(document).on('ajaxTranslate', ajaxTranslateHandler);

            $('.translate').each(function() {
                $(this).trigger('ajaxTranslate');
            });
        });
    </script>

    <!-- Fotorama 4.4.9 -->
    <script type="text/javascript" src="{% static "js/lib/fotorama.js" %}"></script>


{% endblock %}


{% block container %}

    <div class="container">

        <div class="page-header">
          <h1 class="translate">{{ lot.Title }} <small>{{ lot.Condition }}</small></h1>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Основная информация</div>
                    <div class="panel-body">
                        <p>...</p>
                    </div>

                    <table class="table">
                        <tbody>
                            <tr><td>Название:</td><td>{{ lot.Title }}</td></tr>
                            <tr><td>Текущая цена:</td><td>{{ lot.Price }}</td></tr>
                            <tr><td>Лидер:</td><td>&mdash;</td></tr>
                            <tr><td>Стартовая цена:</td><td>{{ lot.Initprice }}</td></tr>
                            <tr><td>Шаг ставки:</td><td>{{ lot.YPoint }}</td></tr>
                            <tr><td>Ставок:</td><td>{{ lot.Bids }}</td></tr>
                            <tr><td>Осталось до конца торгов:</td><td>{{ lot.EndTime }}</td></tr>
                            <tr><td>Состояние товара:</td><td>{{ lot.Condition }}</td></tr>
                            <tr><td>Начало торгов*:</td><td>{{ lot.StartTime }}</td></tr>
                            <tr><td>Завершение торгов*:</td><td>{{ lot.EndTime }}</td></tr>
                            <tr><td>Номер лота:</td><td><a href="{{ lot.AuctionItemUrl }}">{{ lot.AuctionID }}</a> </td></tr>
                            <tr><td>Местоположение:</td><td>{{ lot.Location }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">

            <div class="fotorama-wrap-frontpage">
                <div class="fotorama-frontpage"
                     data-auto="false"
                     data-width="100%" data-ratio="16/9" data-hash="true"
                     data-minheight="{{ lot.ImageMinHeight }}" data-maxheight="100%"
                     data-minwidth="{{ lot.ImageMinWidth }}"
                     data-nav="thumbs" data-allowfullscreen="native" data-loop="true">
                {% for item in lot.Images %}
                    <a href="{{ item.url }}"
                       data-thumb="{{ item.url }}"
                       data-thumbwidth="{{ item.width }}"
                       data-thumbheight="{{ item.height }}"></a>
                {% endfor %}
                </div>
            </div>

        </div>

        <div class="row">
            <h2>Seller info</h2>
            <span>ID: {{ lot.Seller.Id }}</span></br>
            <span>Rating: {{ lot.Seller.Rating }}</span></br>
            <span>ItemListURL: {{ lot.Seller.ItemListURL }}</span></br>
            <span>RatingURL: {{ lot.Seller.RatingURL }}</span>
        </div>

        <div class="row">
            <h2>Item info</h2>
            <span>AuctionItemUrl: {{ lot.AuctionItemUrl }}</span></br>


            <span>Initprice: {{ lot.Initprice }}</span></br>
            <span>Price: {{ lot.Price }}</span></br>
            <span>Quantity: {{ lot.Quantity }}</span></br>
            <span>Bids: {{ lot.Bids }}</span></br>
        </div>

        <div class="row">
            <h2>HighestBidders</h2>
            <span>HighestBidders: {{ lot.HighestBidders }}</span></br>
            <ul>
            {% for item in lot.HighestBidders %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>

        <div class="row">
            <h2>Item info</h2>
            <span>YPoint: {{ lot.YPoint }}</span></br>
            <span>Item Status: {{ lot.ItemStatus }}</span></br>
            <span>Item Status Condition: {{ lot.ItemStatus.Condition }}</span></br>
            <span>Item Status Comment: {{ lot.ItemStatus.Comment }}</span></br>
            <span>Item Returnable: {{ lot.ItemReturnable }}</span></br>
            <span>Item Returnable Allowed: {{ lot.Returnable.Allowed }}</span></br>
            <span>Item Returnable Allowed Comment: {{ lot.Returnable.Allowed.Comment }}</span></br>
            <span>StartTime: {{ lot.StartTime }}</span></br>
            <span>EndTime: {{ lot.EndTime }}</span></br>
            <span>Bidorbuy: {{ lot.Bidorbuy }}</span></br>
            <span>Reserved: {{ lot.Reserved }}</span></br>
            <span>IsBidCreditRestrictions: {{ lot.IsBidCreditRestrictions }}</span></br>
            <span>IsBidderRestrictions: {{ lot.IsBidderRestrictions }}</span></br>
            <span>isBidderRatioRestrictions: {{ lot.isBidderRatioRestrictions }}</span></br>
            <span>IsEarlyClosing: {{ lot.IsEarlyClosing }}</span></br>
            <span>IsAutomaticExtension: {{ lot.IsAutomaticExtension }}</span></br>
            <span>IsOffer: {{ lot.IsOffer }}</span></br>
            <span>IsCharity: {{ lot.IsCharity }}</span></br>
            <span>Option: {{ lot.Option }}</span></br>
        </div>

        <div class="row">
            <h2>Description</h2>
            <span>{{ lot.Description|safe }}</span></br>
        </div>

        <div class="row">
            <h2>Payment</h2>
            <span>Payment: {{ lot.Payment }}</span></br>
        </div>

        <div class="row">
            <h2>...</h2>
            <span>ChargeForShipping: {{ lot.ChargeForShipping }}</span></br>
            <span>Location: {{ lot.Location }}</span></br>
            <span>IsWorldwide: {{ lot.IsWorldwide }}</span></br>
            <span>ShipTime: {{ lot.ShipTime }}</span></br>
        </div>

        <div class="row">
            <h2>Shipping</h2>
            <span>Shipping: {{ lot.Shipping }}</span></br>
        </div>

        <div class="row">
            <h2>...</h2>

            <span>BaggageInfo: {{ lot.BaggageInfo }}</span></br>
            <span>CharityOption: {{ lot.CharityOption }}</span></br>
        </div>

    </div>

{% endblock %}