{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yahoo search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/2.0.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static "css/global.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <style>
        textarea.xxlarge {
            overflow-y: auto;
            width: 100%;
        }

        .endless_scroll_loader { position: fixed; top: 10px; right: 20px; }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">

        {% include "yahoo/blocks/form.html" %}

        <hr />

        <div class="clearfix">
            <div class="input">
                <textarea id="test-box" class="xxlarge" rows="5"></textarea>
            </div>
            <input type="text" id="pages">
        </div>

        <hr />

        <ul id="ajax-result" class="thumbnails thumbnails-horizontal"></ul>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{% static "js/lib/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/jquery.endless-scroll.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/mustache.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/2.0.4/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
  </body>
</html>