{% extends "yahoo/skeleton.html" %}

{% load staticfiles %}


{% block title %}Yahoo search{% endblock %}


{% block custom-css %}
    <style>
        textarea.xxlarge {
            overflow-y: auto;
            width: 100%;
        }

        .endless_scroll_loader { position: fixed; top: 10px; right: 20px; }
    </style>
{% endblock %}


{% block custom-js %}
    <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
{% endblock %}


{% block container %}

    <div class="container">

        <div class="row">
            {% include "yahoo/blocks/form.html" %}
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div style="display: none">
                    <div class="input">
                        <textarea id="test-box" class="xxlarge" rows="5"></textarea>
                    </div>
                </div>
                <div>
                    <!--
                    <span>Всего найдено:</span>
                    <span id="totalResultsAvailable"></span>

                    <span>Всего вернуло:</span>
                    <span id="totalResultsReturned"></span>

                    <span>Запросов требуется:</span>
                    <span id="totalPages"></span>
                    -->
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs" id="myTab">
                    <li><a href="#results" data-toggle="tab">Результаты (<span id="totalResultsAvailable">0</span>)</a></li>
                    <li><a href="#comparison" data-toggle="tab">Отложено (<span id="totalLotsForComparison">0</span>)</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="results">
                        <div id="ajax-result" class="row"></div>
                    </div>
                    <div class="tab-pane fade" id="comparison">
                        <div id="for-comparison" class="row"></div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="scrollup" title="наверх">Scroll</a>

    </div>

{% endblock %}




